<%= simple_form_for @made_game_instance do |f| %>
  <p>
    <%= f.input :word1, label: @made_game.word1 %>
  </p>

  <%= button_tag(type: 'submit', class: "btn btn-large btn-info") do %>
      Fill in your story!
    <% end %>
<% end %>

<%= @made_game.word1 %>
