<p class="heading">Today's subject is: <span id="topic">the NFL season kicks off!</span></p>
<div class="container-narrow"><span class="btn btn-large btn-info"><%= link_to "Fill in today's blanks!", new_game_path%></span></div>

