<div class='about'>
  <p>I wanted to make a little Rails 4 app from scratch and also try to impliment Twitter bootstrap based on some straight-forward instructions. Don't abuse the site and we'll all be fine.</p>
  <a href="/", class="btn">Back</a>
</div>
