<div class='contact'>
  <p>
    <a href="http://twitter.com/keblackley" class="sharing"><%= image_tag("twitterlogo.png", :alt => "My twitter") %></a>
    <a href="http://github.com/keb97" class="sharing"><%= image_tag("github.png", :alt => "Github") %></a><br />
  </p>
</div>
    <a href="/", class="btn btn-large">Back</a>

