<%= @made_game.text1 %>
<%= @made_game.word1 %>


<div class="container-narrow"><span class="btn btn-large btn-info"><%= link_to "Make your own instance", new_made_game_made_game_instance_path(@made_game) %></span></div>

